# The Sparks Foundation
# Graduate Rotational Internship Program

# Prediction using Supervised ML

# Syaima Thamrin

### importing libraries

In [16]:
import pandas as pd
import numpy as np  
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split  
from sklearn.linear_model import LinearRegression  
from sklearn import metrics  
%matplotlib inline

### importing the data

In [17]:
data = pd.read_csv("http://bit.ly/w-data")   

data.head(10)

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30
5    1.5      20
6    9.2      88
7    5.5      60
8    8.3      81
9    2.7      25

### dividing the data into inputs and outputs

In [18]:
X = data.iloc[:, :-1].values  
y = data.iloc[:, 1].values

### Splitting data into Train and Test

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

### Linear Reggression

In [20]:
regressor = LinearRegression()  
regressor.fit(X_train, y_train)

LinearRegression()

### Predicting the scores

In [21]:
y_pred = regressor.predict(X_test)

In [30]:
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})  
df

   Actual  Predicted
0      20  16.884145
1      27  33.732261
2      69  75.357018
3      30  26.794801
4      62  60.491033

### What will be predicted score if a student studies for 9.25 hrs / day ?

In [24]:
hours = 9.25
hour_pred = regressor.predict([[hours]])

print("Predicted Score = {}".format(hour_pred[0]))

Predicted Score = 93.69173248737539

### Calculating the Mean Absolute Error

In [13]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))

Mean Absolute Error: 4.183859899002982